<div class="login-box">
  <div class="login-logo">
    <img src="assets/img/socopa-logo.png">
  </div>
  <div class="login-box-body">
    <form [formGroup]="login">
      <div class="form-group has-feedback" [class.has-error]="username.invalid && username.dirty">
        <input type="text" class="form-control" placeholder="Usuário" formControlName="username">
      </div>
      <div class="form-group has-feedback" [class.has-error]="oldPassword.invalid && oldPassword.dirty">
        <input type="password" class="form-control" placeholder="Senha Atual" formControlName="oldPassword">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div class="help-block" [hidden]="!oldPassword.hasError('required') || oldPassword.pristine">
          Senha inválida
        </div>
        <div class="help-block" [hidden]="!oldPassword.hasError('minlength') || oldPassword.pristine">
          A senha precisa ter no mínimo 8 caracteres
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-error]="newPassword.invalid && newPassword.dirty">
        <input type="password" class="form-control" placeholder="Nova Senha" formControlName="newPassword">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div class="help-block" [hidden]="!newPassword.hasError('required') || newPassword.pristine">
          Senha inválida
        </div>
        <div class="help-block" [hidden]="!newPassword.hasError('minlength') || newPassword.pristine">
          A senha precisa ter no mínimo 8 caracteres
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-error]="newPasswordConfirmation.invalid && newPasswordConfirmation.dirty">
        <input type="password" class="form-control" placeholder="Confirmar Nova Senha" formControlName="newPasswordConfirmation">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div class="help-block" [hidden]="!newPasswordConfirmation.hasError('required') || newPasswordConfirmation.pristine">
          Senha inválida
        </div>
        <div class="help-block" [hidden]="!newPasswordConfirmation.hasError('minlength') || newPasswordConfirmation.pristine">
          A senha precisa ter no mínimo 8 caracteres
        </div>
        <div class="help-block" [hidden]="!newPasswordConfirmation.hasError('newPasswordConfirmation') || newPasswordConfirmation.pristine">
          A confirmação de senha deve ser igual à nova senha
        </div>
      </div>
      <button class="btn btn-primary btn-block btn-flat" (click)="resetPassword()"
        [disabled]="isAuthenticating">Entrar</button>
      <br>
      <!-- <a href="/esqueci-minha-senha">Esqueci minha senha</a> -->
    </form>
  </div>
