<p>
  Prezado Gestor, <br>
  Atenção para os horários limites de boletagem:  
</p>
<table class="table table-striped">
  <thead class="thead-dark">
    <th scope="col">Tipo de Operação</th>
    <th scope="col">Horário</th>
  </thead>
  <tbody>
    <tr>
      <td>Cota de Fundo</td>
      <td>16h</td>
    </tr>
    <tr>
      <td>RF - Título Privado</td>
      <td>16h</td>
    </tr>
    <tr>
      <td>RF - Título Público</td>
      <td>16h</td>
    </tr>
    <tr>
      <td>Futuros</td>
      <td>17h</td>
    </tr>
    <tr>
      <td>Margem</td>
      <td>11h30</td>
    </tr>
    <tr>
      <td>Compromissada de Compra</td>
      <td>16h</td>
    </tr>
    <tr>
      <td>Termo de Moeda</td>
      <td>16h</td>
    </tr>
    <tr>
      <td>Renda Variável</td>
      <td>17h</td>
    </tr>
    <tr>
      <td>Swap - CETIP</td>
      <td>16h</td>
    </tr>
  </tbody>
</table>
<p>
  Em caso de dúvidas e problemas na boletagem entrar em contato com a área de suporte:
  <br>
  <i class="fa fa-envelope-square"></i>
  <a [href]="email_href_type + email">{{ email }}</a>
  <br>
  <i class="fa fa-phone-square"></i>
  <a [href]="tel_href_type + phone">{{ phone }}</a>
</p>